<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>

    <h1 class="title">Edit Type iNote</h1>
    <hr/>
    <a href="/view-type">Back to list Type iNote</a>
    <th:block th:if="${message}">
        <p th:text="${message}"></p>
    </th:block>
    <form th:action="@{/update-type-note}" th:object="${typeNote}" method="post">
        <table border="1">

            <tr>
                <input type="hidden" th:field="*{id}"/>
                <td>Type</td>
            </tr>
            <tr>
                <td><textarea rows="2" cols="50"  th:field="*{name}"></textarea>
            </tr>
            <tr>
                <td>Description</td>
            </tr>
            <tr>
                <td><textarea rows="10" cols="50" th:field="*{description}"></textarea></td>
            </tr>
            <tr>
                <td><button type="submit" style="width: 20%; height: 20%;">Update</button></td>
            </tr>
        </table>
    </form>

</body>
</html>