<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List iNotes</title>
</head>
<body>
    <h1 class="title">List iNotes</h1>
    <p><a href="/create-note">Create New iNote </a>||<a href="/view-type"> View All Type iNotes</a> </p>
    <form th:action="@{/view-note}" method="post">
        <select  name="id" >
            <option th:value="-1">View All iNotes</option>
            <option th:each="typeNote : ${typeNotes}" th:value="${typeNote.id}"
                    th:text="${typeNote.name}">
            </option>
        </select>
        <!--        <input type="submit" value="Search">-->
        <!--    </form>-->
        <!--    <form>-->
        <input name="s" type="text" placeholder="Search by Title">
        <input type="submit" value="Search">
    </form>
    <table border="1" width="600">
        <div>
            <tr>
                <td>Id</td>
                <td>Title</td>
                <td>Type</td>
                <td>Description</td>
                <td></td>
            </tr>
            <div th:each="note,state : ${notes}">
                <tr>
                    <td th:text="${state.count}"></td>
                    <td><a th:href="@{/read-note/__${note.id}__}"  th:text="${note.title}"></a></td>
                    <td th:text="${note.typeNote.name}"></td>
                    <td th:text="${note.typeNote.description}"></td>
                    <td>
                        <a th:href="@{/edit-note/__${note.id}__}"  th:text="Edit"></a> ||
                        <a th:href="@{/delete-note/__${note.id}__}"  th:text="Delete">
                    <td/>
                </tr>
            </div>
        </div>
    </table>

    <div >
        <a th:href="@{'/view-note'(page=${notes.number - 1})}" th:if="${notes.hasPrevious()}">Previous</a>
        <span th:text="${notes.number + 1}"></span>/<span th:text="${notes.totalPages}"></span>
        <a th:href="@{'/view-note'(page=${notes.number + 1})}" th:if="${notes.hasNext()}">Next</a>
    </div>

</body>
</html>