<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete iNote</title>
</head>
<body>
<center>
    <h1 class="title">Are You Sure?</h1>
    <hr/>
    <p><a href="/view-note">Back to list iNotes</a> </p>

    <form th:action="@{/delete-note}" th:object="${note}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <table>
            <tr>
                <td>Title</td>
            </tr>
            <tr>
                <td><textarea rows="5" cols="50" th:text="${note.title}"></textarea></td>
            </tr>
            <tr>
                <td>Content</td>
            </tr>
            <tr>
                <td><textarea rows="10" cols="50" th:text="${note.content}"></textarea></td>
            </tr>
            <tr>
                <td><button type="submit" style="width: 20%; height: 20%;">Delete</button></td>
            </tr>
        </table>
    </form>

</body>
</html>