<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit students</title>
</head>
<body>
<h1>Edit students</h1>
<p>
    <a href="/students">Students list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/edit-students}" th:object="${students}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Birthdate:</td>
            <td><input type="text" th:field="*{birthdate}"/></td>
        </tr>
        <tr>
            <td>Address:</td>
            <td><input type="text" th:field="*{address}"/></td>
        </tr>
        <tr>
            <td>Avatar:</td>
            <td><input type="text" th:field="*{avatar}"/></td>
        </tr>
        <tr>
            <td>Classes:</td>
            <td>
                <select name="classes">
                    <option th:each="p : ${classes}"
                            th:value="${p.id}"
                            th:text="${p.name}"
                            th:selected="(${p.id} == *{classes.id})"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update students"></td>
        </tr>
    </table>
</form>
</body>
</html>